* {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/**logo**/


.nav-logo {
    height: 50px;
    width: 113.2px;
}

.logo {
    background-image: url("/amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100%;
}

.border{
    border: 1.5px solid transparent
}

.border:hover{
    border: 1.5px solid rgb(255, 255, 255);
}


/**nav-location**/


.add-one{
    color: #cccccc;
    font-size: 0.85rem;
    margin-left: 14.5px;
}

.add-country{
    color: white;
    font-size: 1rem;
    font-weight:700;
    margin-left: 3px;
}

.add-icon{
    display: flex;
    align-items: center;
    width: 15px;
    height: 18px;
    
}

/**nav-search**/


.nav-search{
    display: flex;
    justify-content:space-evenly;
    background-color:transparent;
    width: 620px;
    height: 40px;
    border-radius:5px;
}

.nav-search:hover{
    border: 1.5px solid orange;
    border: radius 1rem;
}

.search-select{
    background-color: #f3f3f3;
    border-top-left-radius:  5px;
    border-bottom-left-radius: 5px;
    width: 51px;
    text-align: center;
    border: none;
}

.seacrh-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}

.search-icon {
    width: 46px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-size: 1.2rem;
    background-color: #febd68;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: #0f1111;
    position: static;
}


/**nav-signin**/

.nav-greet{
    color: white;
    font-size: 0.7rem;
}

.list{
    display: flex;
}

.nav-account-list{
    font-size:0.85rem;
    font-weight: 600;   
}

.list-icon{
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    color:  rgba(255, 255, 255, 0.5);
    margin-left: 3px;
    margin-top: 2.8px;
}


/**nav-returns&orders**/

.nav-returns{
    background-size: cover;
    
}

.return{
    font-size: 0.7rem;
}

.order{
    font-size: 0.85rem;
    font-weight: 600;
}

/**nav-cart**/

.nav-cart i {
    font-size: 30px;

}

.nav-cart{
    font-size: 0.85rem;
    font-weight: 600;
}

/**nav-pannel**/

.panel{
    background-color: #222f3d;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    color: white;

}

.panel-ops{
    width: 80%;
}

.panel-ops a{
    font-size: 0.9rem;
    display: inline;
    margin: 8.5px;

}

.panel-deals{
    font-weight: 600;
    margin-right: 20px;
    font-size: 0.9rem;
    font-weight: 700;
}


/**HERO-SECTION**/

.hero-section{
    background-image: url("hero_image.jpg");
    background-size:cover;
    height:400px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.hero-message{
    background-color: white;
    color: black;
    height: 40px;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.9rem;
    width: 97%;
    margin-bottom: 7rem;
}

.hero-message a{
    color:#007185;
    
    
}

.hero-message a:hover{
    border: 1px solid orange;
}
/**shop-section**/

.shop-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    background-color:#9cb4b6;
}

.item-row1{
    height: 350px;
    margin-top: -90px;
    padding: 20px 0px 15px;
    width: 31.3%;
    background-color: white;  
}

.item1-con p{
    font-size:20px;
    font-weight: 700;

}

.item1-img{
    height: 258px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item1-con{
    margin-left: 10px;
    margin-right: 10px;
}

.item1-con a{
    font-size: 0.9rem;
    color: #007185;
}

.shop-tag{
    margin-top: 23px;
}

/**item2**/

.item2-con p{
    font-size:20px;
    font-weight: 700;

}

.item2-img{
    height: 258px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item2-con{
    margin-left: 10px;
    margin-right: 10px;
}

.item2-con a{
    font-size: 0.9rem;
    color: #007185;   
}

.shop-tag{
    margin-top: 23px;
}


/**item3**/

.item3-con p{
    font-size:20px;
    font-weight: 700;

}

.item3-img{
    height: 258px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item3-con{
    margin-left: 10px;
    margin-right: 10px;
}

.item3-con a{
    font-size: 0.9rem;
    color: #007185;
}

.shop-tag{
    margin-top: 23px;
}


/**item4**/

.item-row2{
    height: 350px;
    margin-top: 20px;
    padding: 20px 0px 15px;
    width: 31.3%;
    background-color: white;  
}

.item4-con p{
    font-size:20px;
    font-weight: 700;

}

.item4-img{
    height: 258px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item4-con{
    margin-left: 10px;
    margin-right: 10px;
}

.item4-con a{
   color: #007185; 
   font-size: 0.9rem;   
}

.shop-tag{
    margin-top: 23px;
}


/**item5**/

.item5-con p{
    font-size:20px;
    font-weight: 700;

}

.item5-img{
    height: 258px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item5-con{
    margin-left: 10px;
    margin-right: 10px;
}

.item5-con a{
    font-size: 0.9rem;
    color: #007185; 
}

.shop-tag{
    margin-top: 23px;
}


/**item6**/

.item6-con p{
    font-size:20px;
    font-weight: 700;

}

.item6-img{
    height: 258px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item6-con{
    margin-left: 10px;
    margin-right: 10px;
}

.item6-con a{
    font-size: 0.9rem;
    color: #007185;   
}

.shop-tag{
    margin-top: 23px;
}

/**item7**/

.item-row3{
    height: 350px;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px 0px 15px;
    width: 31.3%;
    background-color: white;  
}

.item7-con p{
    font-size:20px;
    font-weight: 700;

}

.item7-img{
    height: 258px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item7-con{
    margin-left: 10px;
    margin-right: 10px;
}

.item7-con a{
    font-size: 0.9rem;
    color: #007185;   
}

.shop-tag{
    margin-top: 23px;
}


/**item8**/

.item8-con p{
    font-size:20px;
    font-weight: 700;

}

.item8-img{
    height: 258px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item8-con{
    margin-left: 10px;
    margin-right: 10px;
}

.item8-con a{
    font-size: 0.9rem;
    color: #007185;   
}

.shop-tag{
    margin-top: 23px;
}

.item9-con p{
    font-size:20px;
    font-weight: 700;

}

.item9-img{
    height: 258px;
    background-size: cover;
    margin-top: 10px;
    margin-bottom: 10px;
}

.item9-con{
    margin-left: 10px;
    margin-right: 10px;
}

.item9-con a{
    color: #007185;  
    font-size: 0.9rem; 
}

.shop-tag{
    margin-top: 23px;
}


/**footer**/

.footer{
    margin-top: 15px;
}

.foot-panel1 {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 49px;
    background-color: #37475a;
    font-size: 0.84rem;
    color: #ffffffde;
}

    
.foot-panel2{
    height: 350px;
    display: flex;
    justify-content: space-evenly;
    background-color:#222f3e;
    color: #ffffffde;
} 

.foot-panel2 p{
    font-size: medium;
    font-weight: 800;
}

ul{
    margin-top:30px;
}

ul a{
    display: block;
    font-size: 0.8rem;
    margin-top:10px ;
}

.foot-panel3{
    background-color: #222f3e;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.panel-logo{
    background-image: url("amazon_logo.png");
    background-size: cover;
    height: 50px;
    width: 100px;
}

.foot-panel4{
    background-color: #0f1111;
    color: white;
    height: 76px;
    font-size: 0.7rem;
}

.pages{
    padding-top: 25px;
    text-align: center;
}

.pages a{
    padding-left: 12px;
}

.copyrights{
    margin-top:5px ;
    text-align: center;
}